<!DOCTYPE html>

<head>
    <title>Wisconsin Slippi Replays</title>
    <link rel="stylesheet" href="include/style.css">
    <link rel="stylesheet" href="include/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Domine|Roboto&display=swap" rel="stylesheet">
    <script src="include/vue.min.js"></script>
    <script src="include/jquery-3.4.1.min.js"></script>
    <script src="include/require.js"></script>
</head>

<body class="bg-dark text-light">
    <div id="container">
        <nav class="navbar navbar-default navbar-fixed-top headbar">
            <div class="col-sm-8">
                <h1 class="heading float-left pt-2 pl-4">Wisconsin Slippi Archive</h1>
            </div>
            <div class="col-sm-2 pt-3 float-right form-group">
                <input class="form-control" type="text" v-model="tag" placeholder="Search tags" />
            </div>
            <div class="col-sm-2 pt-3 pr-3 float-right form-group">
                <input class="form-control" type="date" v-model="searchdate" />
            </div>
        </nav>
        <div class="container">
            <div class="row pt-2"></div>
            <div class="row pb-1 mb-2" v-for="(game, path) in files" v-if="pruneResults(game)">
                <div class="col-lg-12 slippi-box pt-2">
                    <div class="row">
                        <div class="col-sm-10 float-left">
                            <a v-bind:href="'replays/'+path">{{path}}</a>
                        </div>
                        <div class="col-sm-2 float-right">
                            {{game['datetime']}}
                        </div>
                    </div>
                    <div class="row pt-2 pb-4">
                        <div class="col-sm-4 text-left pl-4">
                            <img v-bind:src="'images/stages/'+game['stage']+'.png'" height="80px" />
                        </div>
                        <div class="pt-4 col-sm-2 text-center" v-for="(player, index) in game['players']">
                            <img v-if="player == null" src="images/null.png" height="28px" />
                            <img v-else
                                v-bind:src="'images/stockicons/'+player['character']+'-'+player['costume']+'.png'" />
                            <div v-if='player == null || player["tag"].length == 0' class="pt-2 text-center">Port {{index + 1}}</div>
                            <div v-else class="pt-2 text-center">{{player["tag"]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="scripts/index.js"></script>