<!DOCTYPE html>

<head>
    <title>UW-Madison Slippi</title>
    <link rel="icon" href="images/icon.ico">
    <link rel="stylesheet" href="include/style.css">
    <link rel="stylesheet" href="include/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Domine|Roboto&display=swap" rel="stylesheet">
    <script src="include/vue.min.js"></script>
    <script src="include/jquery-3.4.1.min.js"></script>
    <script src="include/require.js"></script>
</head>
<div id="container" class="robot">
    <div id="home" v-if="displayhome">
        <nav class="navbar navbar-default navbar-fixed-top bg-danger">
            <div class="col-sm-8">
                <h1 class="heading float-left pt-2 pl-4 text-white">UW Tourney Replays</h1>
            </div>
        </nav>

        <body>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="mt-3">Tournaments</h2>
                        <div v-for="(data, tournament) in main">
                            <div class="tournament tournament-header">{{tournament}}</div>
                            <div class="tournament tournament-midsection">
                                Latest Games
                                <div v-for="game in data">
                                    <span class="player-chiclet"><img
                                            v-bind:src="'images/stockicons/'+game['players'][0]['character']+'-'+game['players'][0]['costume']+'.png'" />{{game['players'][0]['tag']}}</span>
                                    vs <span class="player-chiclet"><img
                                            v-bind:src="'images/stockicons/'+game['players'][1]['character']+'-'+game['players'][1]['costume']+'.png'" />{{game['players'][1]['tag']}}</span>
                                    | {{game['stage']}} | {{game['datetime']}}
                                </div>
                            </div>
                            <div class="tournament tournament-footer"><a
                                    v-on:click="displayTournament(tournament)">Browse all replays</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </body>
    </div>
    <div id="tournament" v-if="!displayhome">
        <nav class="navbar navbar-default navbar-fixed-top bg-danger">
            <div class="col-sm-8">
                <h1 class="heading float-left pt-2 pl-4 text-white">UW Tourney Replays</h1>
            </div>
            <div class="col-sm-2 pt-3 float-right form-group">
                <input class="form-control" type="text" v-model="tag" placeholder="Search tags" />
            </div>
        </nav>

        <body>
            <div class="row">
                <div class="col-lg-12">
                    <table>
                        <tr>
                            <th>Matchup</th>
                            <th>Stage</th>
                            <th>Station</th>
                            <th>Time</th>
                            <th>Download Link</th>
                        </tr>
                        <tr v-for="(game, file) in files[tourneyname]">
                            <td><span class="player-chiclet"><img
                                        v-bind:src="'images/stockicons/'+game['players'][0]['character']+'-'+game['players'][0]['costume']+'.png'" />{{game['players'][0]['tag']}}</span>
                                vs <span class="player-chiclet"><img
                                        v-bind:src="'images/stockicons/'+game['players'][1]['character']+'-'+game['players'][1]['costume']+'.png'" />{{game['players'][1]['tag']}}</span>
                            </td>
                            <td>{{game['stage']}}</td>
                            <td>[not implemented]</td>
                            <td>{{game['datetime']}}</td>
                            <td><a v-bind:href="'replays/'+tourneyname+'/'+file" download>{{file}}</a></td>
                        </tr> 
                    </table>
                </div>
            </div>
        </body>
    </div>
</div>
<script src="scripts/index.js"></script>