.heading {
    font-family: sans-serif;
}

body {
    font-family: Roboto;
    background-color: #121212;
}

.slippi-box {
    border-radius: 7px;
    background-color: #1e1e1e;
}

.headbar {
    background-color: #151515;
}

.player-chiclet {
    background-color: lightgrey;
    padding: 3px;
    border-radius: 5px;
    align-items: center;
}

.tournament-header {
    font-size: 18px;
    font-weight: 700;
    border-width: 0 0 1px;
    margin-bottom: 1px;
    border-radius: 3px 3px 0 0;
}

.robot {
    font-family: Roboto, sans-serif;
}

.tournament {
    padding: 8px 8px 8px 8px;
    background-color: #f5f5f5;
}

.tournament-footer {
    color: blue;
    margin-bottom: 10px;
    margin-top: 1px;
    border-radius: 0 0 3px 3px;
}